nav{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    color:black;
    
}
.img1{
    width:45vw;
    height: 40vh;
    align-items:center;

}
.p-style{
    align-items:center;
    font-style: italic;
    display:flex;
    justify-content:center
}
header{
    display:flex;
   flex-direction:column;
   justify-content:center;
   align-items:center;


}

body{
    background-color: rgb(171, 220, 204);
}
.main-style{
  display:flex;
justify-content:center;
}