body {
    display:flex;
    flex-direction:column;
}

div.checkout {
    border-style: dashed;
    padding: 10px;
    margin: 20px;
}
div.payment {
    border-style: dashed;
    padding:25px;
    margin: 20px;
   
}
div.Home {
    border-style:groove;
   