body {
    display:flex;
    flex-direction:column;
    background-color:rgb(206, 201, 188);
    color: rgb(43, 29, 11);
   
}

div.checkout {
    border-style: dashed;
    padding: 10px;
    margin: 20px;
    width: 30%;
}
div.payment {
    border-style: dashed;
    padding:25px;
    margin: 20px;
    width: 30%;
    height: 30%;
   
}
div.Home {
    border-style:groove;
    background-color: rgb(226, 211, 253);
    width: 60vw;
    height: 8vh;
    padding: 10px ;
   
    
}

div.text {
    width: 50%;
    
}

div.item {
   display: flex;
   flex-direction: row;
   width: 70%;


}

