body {
    display:flex;
    flex-direction:column;
    background-color:rgb(206, 201, 188);
    color: rgb(43, 29, 11);
   
}

div.checkout {
    border-style: dashed;
    padding: 10px;
    margin: 20px;
}
div.payment {
    border-style: dashed;
    padding:25px;
    margin: 20px;
   
}
div.Home {
    border-style:groove;
    background-color: rgb(226, 211, 253);
    
}


