*{
    box-sizing: border-box;
}

body {
    background-color: #CDC5B4;
}

.font-styling {
    font-family: 'Times New Roman', Times, serif;
}

.nav-styling {
    width: 100vw;
    height: 10vh;
    color: #7E65BB;
    background-color: #DFD1FF;
    border: 2px solid #7E65BB;
    display: flex;
    flex-direction: row;
    align-items: center;
}



}

.nav-bar-styling {
    color: #7E65BB;
    display: flex;
    justify-content: flex-end;
}

.instagram-styling {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

p {
    color: #2b1b0d;
}

h2 {
    color: #2b1b0d;
}