*{
    box-sizing: border-box;
}

body {
    background-color: #A78E78FF;
}

.font-styling {
    font-family: 'Times New Roman', Times, serif;
}

.nav-styling {
    width: 100vw;
    height: 10vh;
    color: #2B1B0D;
    background-color: #CFB8A5;
    border: 2px solid #2B1B0D;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-bar-styling {
    color: #2B1B0D;
    display: flex;
    justify-content: flex-end;
}

.header-styling {
    display: flex;
    flex-direction: row;
}

.instagram-styling {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.facebook-styling {
    display: flex;
    flex-direction: column;
    gap: 50px
}

a {
    color:#2B1B0D;
}

p {
    color: #2B1B0D;
}

h2 {
    color: #2b1b0d;
}